<!DOCTYPE html>
<html>
<head>
    <title><%= title || 'Projects' %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en-US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="thumbnail" content="<%= metaThumbnail || '/images/og_image_1200x630.png' %>" />
    <meta property="og:image" content="<%= metaThumbnail || '/images/og_image_1200x630.png' %>" />
    <meta property="og:title" content="<%= title || 'Projects' %>" />
    <meta property="og:description" content="Films and Projects by Grant Alan Davis" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/moment.min.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/site.js"></script>
</head>
<body>
    <%- include('_header') %>
    <div class="page-shell">
    <h1 class="projects-title">Projects</h1>
    <ul class="projects-list">
        <% projects.forEach(function(project) { %>
            <li>
                <a class="projects-list-thumb-link" href="<%= project.project_path %>">
                    <img class="projects-list-thumb" src="<%= project.thumbnail %>" alt="<%= project.title %> Thumbnail">
                </a>
                <h2 class="projects-list-item-title"><a class="projects-list-item-link" href="<%= project.project_path %>"><%= project.title %></a></h2>
            </li>
        <% }); %>
    </ul>
    </div>
</body>
</html>